.BlogNews .input-search {
  border: 1px solid #ddd;
  padding-left: 0.5rem;
}
.BlogNews .input-search button {
  background: var(--tomato-4) !important;
  color: var(--white-1);
}
.BlogNews .news .single-news img {
  height: 60px;
  object-fit: contain;
}
.BlogNews .tag button {
  background: var(--white-2);
}
.BlogNews .tag button:hover {
  background: var(--tomato-4);
}
.BlogNews .tag button a {
  border-radius: 6px;
  color: var(--dark-2) !important;
  font-size: 14px;
  font-weight: var(--fw-semi) !important;
}
.BlogNews .tag button:hover a {
  color: var(--white-1) !important;
}
