.CourseCard .card-info {
  border-top: 1px solid var(--tomato-4);
  position: relative;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  transition: var(--transition);
}
.CourseCard .card-info:hover {
  border-top: 1px solid var(--tomato-4);
  border-bottom: 1px solid var(--tomato-4);
  border-left: 1px solid var(--tomato-4);
  border-right: 1px solid var(--tomato-4);
}
.CourseCard .card-info .price {
  border: 1px solid var(--tomato-4);
  position: absolute;
  top: -15%;
  left: 50%;
  width: 70px;
  height: 70px;
  background: var(--white-1);
  color: var(--tomato-4);
  font-weight: var(--fw-bold);
  font-size: var(--font-20);
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.CourseCard .icons {
  color: var(--dark-1) !important;
  font-size: 19px !important;
  font-weight: var(--font-bold) !important;
}

.CourseCard .icons span {
  font-size: 14px !important;
  font-weight: 600;
}
