.Error {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--white-2);
  height: 100%;
  width: 100%;
  z-index: 100;
}
.Error h1 {
  color: var(--tomato-4) !important;
}

.Error button {
  background: var(--tomato-4) !important;
  color: var(--white-1);
}
.Error button a {
  color: var(--white-1);
}
